body {
  background-color: black;
  background-image: url("../img/recordplayer.jpg");
  background-repeat: no-repeat;
  background-size:100%;
}

ul
{
    list-style-type: none;
}

#MainLogo {
  height: auto;
  width: 200px;
  padding-top: 25px;
  padding-left: 25px;
}

#miniBar {
  background-opacity: 0.6;
  width: 3em;
  background: gray;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
}

#musicIcon:hover {
  color : #E8E4E1;
  font-size: 30px;
}

#mediaIcon:hover {
  color : #E8E4E1;
  font-size: 30px;
}

#liveIcon:hover {
  color : #E8E4E1;
  font-size: 30px;
}

.list {
  margin-left: -25px;
}

#musicBar {
  color : #E8E4E1;
  font-size: 1px;
  opacity: 0;
}

#mediaBar {
  color : #E8E4E1;
  font-size: 1px;
  opacity: 0;
}

#liveBar {
  color : #E8E4E1;
  font-size: 1px;
  opacity: 0;
}
