body {
  position:relative;
/*  background-position: absolute;*/
  /*background-image: url("../img/livephoto.jpg");
  background-repeat: no-repeat;
  background-size:100% auto;
  background-attachment: fixed;*/
  background-position: 0% 50%;
  background-color: gray;
}

#bg {
  position: fixed;
  top: -50px; 
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

ul
{
  list-style-type: none;
}

h1 {
  color: white;
  font-weight: bold;
  margin-top: -10px;
  text-align: center;
/*  text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;*/
}

h5 {
  color: black;
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

#MainLogo {
  left: -200px;
  padding-left:8%;
  padding-bottom: 10px;
  height: auto;
  width: 110px;
}

#MainLogo:hover {
  height: auto;
  width: 200px;
}

#miniBar {
  float: left;
  width: 5em;
  background: rgba(100, 100, 100, 0.3);
  border-bottom-right-radius: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

#miniBar:hover {
  height: 250px;
}

#musicIcon:hover {
  color : white;
  font-size: 60px;
}

#mediaIcon:hover {
  color : white;
  font-size: 60px;
}

#liveIcon:hover {
  color : white;
  font-size: 60px;
}


#keebzIcon {
  height:auto;
  width: 30px;
  padding-bottom:10px;
}

.list {
  color:black;
  font-size:30px;
  margin-left: -25px;
}

#musicBar {
  color : #fff;
  font-size: 1px;
  opacity: 0;
}

#mediaBar {
  color : #fff;
  font-size: 1px;
  opacity: 0;
}

#liveBar {
  color : #fff;
  font-size: 1px;
  opacity: 0;
}

.layout {
/*  -webkit-transition: all 0.2s ease;*/
/*    -moz-transition: all 0.2s ease;*/
/*    -o-transition: all 0.2s ease;*/
    padding-left: 4%;
    bottom: -1000px;
    transition: width 0.1s ease;
}

.scrol1 {
  background: rgba(0, 154, 205, .7);
/*  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;*/
  padding: 10px;
}

.scrol2 {
  background: rgba(51, 51, 51, .7);
  padding: 10px;
}

.scrol3 {
  background: rgba(207, 6, 107, .7);
/*  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;*/
  padding: 10px;
}

.scrolText {
  color: #E8E4E1;
}

.barText {
  position: absolute;
  left:100px;
}

#social {
  background: rgba(255, 255, 255, .8);
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

#tour {
  padding: 5px;
  /*background: rgba(55, 55, 55, .3);*/
  border-radius: 1em;
}


#fbLike {
  height: 30px;
  width: 30px;
}

#facebookTab {
  display: inline-block;
  padding: 2%;
  background: rgba(255, 255, 255, .8);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#twitterBird {
  height: 30px;
  width: 30px;
}

#twitterTab {
  display: inline-block;
  padding: 2%;
  background: rgba(255, 255, 255, .8);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#twitter {
  padding: 10px;
}

#wiredcover {
  width: 100%;
  height: auto;
}

#wiredmention {
  width: 100%;
  height: auto;
}

#contact {
  padding: 10%;
  font-size: 20px
}

#contactLogo {
  left: 5%;
  float: right;
  padding: 10%;
  height: auto;
  width:50%;
}

.email {
  color: #6EB2F5;
  border-radius: 10px;
  padding: 1%;
}

#loading {
  display: none;
/*  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -150px;
  padding-top: 10%;*/
/*  height:auto;
  width:500px;*/
position:absolute;
top: 50%;
left: 50%;
margin-left: -200px;
margin-top: 150px;
width:400px;
height:auto;
opacity: 0.8;
}

